#tip{
  display: block;
  margin-top: 10px;
  width: 99%;
  height: 375px;
}

.conn {
  text-align: center;
  margin-bottom: 10px;
  font-size: 12px;
}

.conn input {
  color: gray;
}

#arg {
  width: 423px;
}

#send {
  width: 55px;
}